
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html><head><link rel='stylesheet' href='https://use.typekit.net/tub8ffn.css'>
<style>.lxGrey{ background-color:#000000; opacity:.30; }.lxLogo{ top:0px; padding-top:100px; }.lxCBRE{ bottom:0px; padding:20px; }.lxEnter{ font-family:futura-pt, sans serif; font-size:2.0vw; color:white; background-color:#006a4d; margin:80px; padding:10px; padding-left:30px; padding-right:30px; display:inline-block; border-radius:10px; }</style><script>function lxLoad(){var vObj = document.getElementById('LX_VIDEO');vObj.playbackRate = 0.4;vObj.play();$(window).on('resize', lxResize);}function lxResize() {$('#LX_HERO').css('height', $(window).height());}</script>
</head>

<body style='padding:0px; margin:0px; overflow:hidden;' OnLoad='lxLoad()'>
  <div style='position:absolute; top:0px; left:0px; right:0px; bottom:0px; z-index:10;' id='LX_HERO'>
    <video autoplay="" muted="" id="LX_VIDEO" loop="" style="background-size: 100% 100%; top: 0px; bottom:0px; left: 0px; min-width:100%; min-height:100%; width:auto; height:auto; overflow:hidden;">
      <source src="//d2tbvwsu74hidz.cloudfront.net/static/media/bg.51aa7255.mp4" type="video/mp4">
    </video>
  </div>
  ]<div style='position:absolute; top:0px; left:0px; right:0px; bottom:0px; z-index:20; ' class=lxGrey></div><div style='position:absolute; top:0px; left:0px; right:0px; bottom:0px; z-index:30;'>

    <div style='text-align:center;' class=lxLogo>
   
    <img src="//d2tbvwsu74hidz.cloudfront.net/static/media/landx-logo-colour.4abff245.svg" style='max-width:30%; height:auto;'>
    </div>
    <div style='text-align:center;'>
	  <div class="signin center">
	  <form method="GET" action="{{.ProxyPrefix}}/start">
	    <input type="hidden" name="rd" value="{{.Redirect}}">
	    <button type="submit" class="lxEnter">Sign in</button>
	  </form>
	</div>
    </div>
  <div style='position:absolute; bottom:0px; z-index:200; width:100%; text-align:center;'>

  <img src='//www.britn.com/landX/cbre.png' style='max-width:10%; height:auto;'  class=lxCBRE></div></div></body></html>
